<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNA Analyzer</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <form action="/analizza" method="POST">

    <input type="text" id="input-sequenza" placeholder="Inserisci la sequenza DNA">

<button type="submit" class="button" id="bottone-conteggio" name="azione" value="conteggio">Conteggio nucleotidi</button>
<button type="submit" class="button" id="bottone-percentuale" name="azione" value="percentuale">Percentuale coppie</button>
<button type="submit" class="button" id="bottone-trascrizione" name="azione" value="trascrizione">Trascrizione</button>
<button type="submit" class="button" id="bottone-traduzione" name="azione" value="traduzione">Traduzione</button>

</form>

</body>
</html>